<div class="row-fluid">
  <div class="span12 account-index">
    <div class="page-header">
      <h2><%= t('how_to_enter') %></h2>
    </div>
    <%= render 'wine100/accounts/step' %>
    
    <!--end span9 -->
  </div> 
</div>
