<div class="row-fluid">
  <%= render '/wine100/accounts/sidebar' %>
  <script type="text/javascript">
    $('.lightbox').lightbox();
  </script>
  <div class="span9">
    <div class="page-header">
      <h2>操作顺序</h2>
    </div>
    <div class="box">
      1. 完成注册
    </div>

    <div class="box">
      2. 登录
    </div>

    <div class="box">
      3. 添加酒款
    </div>

    <div class="box">
      4. 确认信息
    </div>

    <div class="box">
      5. 完成录入
    </div>
  </div>
</div>
