
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
     <li class="nav-header">联系信息</li>
     <li><a href="#">公司信息</a></li>
     <li><a href="#">公司信息</a></li>
     <li><a href="">联系人信息</a></li>
     <li class="nav-header">操作</li>
       <li><a href="#">公司信息</a></li>
     <li><a href="#">公司信息</a></li>
     <li><a href="">联系人信息</a></li>
   </ul>
 </div><!--/.well -->
</div><!--/span-->