<div class="row-fluid">
	<%= render '/wine100/accounts/sidebar' %>
	<script type="text/javascript">
	$('.lightbox').lightbox();
	</script>
  <div class="span9 account-index">
    <div class="page-header">
      <h2>操作顺序</h2>
    </div>
    <a class="btn btn-lg btn-outline">
      <span>1. 完成注册</span>
    </a>
    <span class="glyphicon glyphicon-arrow-right"></span>
    <a class="btn btn-lg btn-outline">
      <span>2. 登录</span>
    </a>
    <span class="glyphicon glyphicon-arrow-right"></span>
    <a class="btn btn-lg btn-outline">
      3. 添加酒款
    </a>

    <span class="glyphicon glyphicon-arrow-right"></span>

    <a class="btn btn-lg btn-outline">
      4. 确认信息
    </a>

    <span class="glyphicon glyphicon-arrow-right"></span>
    <a class="btn btn-lg btn-outline">
      5. 完成录入
    </a>
    <!--end span9 -->
  </div> 
</div>
