<div class="row-fluid">
	<%= render '/wine100/accounts/sidebar' %>
	<script type="text/javascript">
	$('.lightbox').lightbox();
	</script>
  <div class="span9 account-index">
    <div class="page-header">
      <h2>操作顺序</h2>
    </div>
    <%= render 'step' %>
    <!--end span9 -->
  </div> 
</div>
