 <div class="control-group">
 	<div class="controls">
 		<%= f.email_field :email, :placeholder => '邮箱', :class => 'block box span6',  :required => true %>
 	</div>
 </div>

 <div class="control-group">
 <div class="controls">
 	<%= f.text_field :phone, :placeholder => '手机号码', :class => 'block box span6',  :required => true %>
 </div>
</div>

<div class="control-group">
 <div class="controls">
 	<%= f.password_field :password_cleartext, :placeholder => '密码', :class => 'block box span6',  :required => true %>
 </div>
</div>

<div class="control-group">
 <div class="controls">
 	<%= f.password_field :password_confirmation, :placeholder => '确认密码', :class => 'block box span6',  :required => true %>
 </div>
</div>

 <button class="btn btn-large btn-primary" type="submit">注册</button>