<p class="">
  <%= f.text_field :name_en, :placeholder => t('grape_variety'), :class => 'span4', :required => true %>
  <%= f.text_field :percentage, :placeholder => "#{t('percentage')}(#{t('optional')})", :class => 'span2' %> 
  <span class="add-on"><i >%</i></span>
  <%= link_to_remove_fields t('delete'), f %>
</p>
