<p class="fields">
  <%= f.text_field :name_en, :placeholder => '葡萄品种', :class => 'span4', :required => true %>
  <%= f.text_field :percentage, :placeholder => '百分比(选填)', :class => 'span2' %> 
  <span class="add-on"><i >%</i></span>
  <%= link_to_remove_fields "删除", f %>
</p>
