<div class="row-fluid">
	<%= render '/wine100/accounts/sidebar' %>
	<div class="span9">
		
		<div class="page-header">
					<h2><%= t('upload_wine') %></h2>
		</div>

		<%= form_for @wine, :url => wine100_wine_path(@wine, :step => params[:step]), :class => 'form-signin' do |f| %>
		<%= render 'form', :f => f %>
		<% end -%>
	</div><!--/span-->
</div>