/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .red {
 	color: red;
 }

 label.valid {
   width: 24px;
   height: 24px;
   background: url(assets/img/valid.png) center center no-repeat;
   display: inline-block;
   text-indent: -9999px;
 }
 label.error {
   font-weight: bold;
   color: red;
   padding: 2px 8px;
   margin-top: 2px;
 }

#sweetness-outer {
	display: none;
}
 
 table.wine-form-6, table.wine-form, table.wine-form-2, table.wine-form-3, table.wine-form-4, table.wine-form-5, table.wine-form-7
  {
  	margin: 0;
  	margin-bottom: 0;

 	.td_1 {
 		width: 80px;
 	}
 }

.wine-form-3 {
	.td_1 {

	}
	.td_3{
		width: 40px;
	}
}

