/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .red {
 	color: red;
 }

 label.valid {
   width: 24px;
   height: 24px;
   background: url(assets/img/valid.png) center center no-repeat;
   display: inline-block;
   text-indent: -9999px;
 }
 label.error {
   font-weight: bold;
   color: red;
   padding: 2px 8px;
   margin-top: 2px;
 }

#sweetness-outer {
	display: none;
}
 
 table.wine-form-6, table.wine-form, table.wine-form-2, table.wine-form-3, table.wine-form-4, table.wine-form-5, table.wine-form-7
  {
  	margin: 0;
  	margin-bottom: 0;

 	.td_1 {
 		width: 80px;
 	}
 }

 table.wine-form-2 {
   .td_1, .td_3 {
     width: 70px;
     text-align: right;
   }

 }

table.wine-form-3 {
	.td_1 {
    text-align: right;
    width: 70px;
	}
  .td_2 {
    width: 70px;
  }

	.td_3{
		width: 50px;
    text-align: right;
	}
  .td_4 {
    width: 90px;
  }
  .td_5 {
    width: 50px;
  }
   .td_6 {
    width: 90px;
  }
}

table.wine-form {
 .td_1, .td_3 {
  text-align: right;
  width: 70px;
 }

}

table.wine-form-4 {
  .td_1 {
    width: 100px;
    text-align: right;
  }
  .td_2 {
  }
}

table.wine-form-6 {
  .td_1 {
    width: 120px;
    text-align: right;
  }
}

table.wine-form-7 {
  // width: 400px;
  .td_1, .td_3 {
    width: 120px;
    text-align: right;
  }
  .td_2, .td_4 {
    // width: 140px;
  }
}
table.wine-form-8 {
  .td_1 {
    width: 120px;
    text-align: right;
  }
}
body {
  padding-top: 180px;

}
body .navbar-inverse, .navbar {

  .navbar-inner {
    height: 160px;
    padding-left: 20px;
    // background: #FFC600 url("/images/logo.png") no-repeat 20px top;
    background-color: #FFC600;
    background-image: none;
  }

  h1.brand {
  }

}
.account-index {
  .btn-outline {
    margin: 20px 20px; 
    height: 100px;
    width: 200px;
    // position: relative;
    padding-top: 35px;
    font-size: 16pt;
  }    
}
body footer {
 height: 100px;
 background: #000;
 text-align: center;
 color: #FFF;
width: 100%;
bottom: 0;
}

td.thumbnails a.thumbnail {
  border: 0;
  radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;

}
table.winelist  {
  tr {
    td {
      padding-top: 20px;
    }
  }

  td.thumbnails {
    width: 160px;
  }
}
