
<div class="control-group">
 <div class="controls">
 	<%= f.password_field :password, :placeholder => t('new_password'), :class => 'block box span6',  :required => true %>
 </div>
</div>

<div class="control-group">
 <div class="controls">
 	<%= f.password_field :password_confirmation, :placeholder => t('confirm_the_password'), :class => 'block box span6',  :required => true %>
 </div>
</div>

