
<div class="control-group">
 <div class="controls">
 	<%= f.password_field :password, :placeholder => '新密码', :class => 'block box span6',  :required => true %>
 </div>
</div>

<div class="control-group">
 <div class="controls">
 	<%= f.password_field :password_confirmation, :placeholder => '确认密码', :class => 'block box span6',  :required => true %>
 </div>
</div>

