<div class="row-fluid">

	<%= form_for(@user, :url => forgot_wine100_passwords_path) do |f| %>

	<div class="control-group">
		<%= f.label :email, "#{t('email')}: " %>
		<div class="controls">
			<%= f.email_field :email, :placeholder => t('enter_your_email'), :class => 'block box span6',  :required => true %>
		</div>
	</div>

	<%= f.submit t('find_password'),  :class => 'btn btn-large btn-primary' %>
	<% end %>
	
</div>
